<% content_for :angular_app do %>
  ng-app=dotaItems
<% end %>

<% content_for :title do %>
  Items App
<% end %>

<% content_for :head do %>
<% end %>

<h1>Angular Items Application</h1>
<div ng-view>
</div>
